.Rproj.user
.Rhistory
.RData

*.png

*.csv

report/
data/cleanedData.RData

data/cleanedData2.RData

*.html

*.md

*.pdf

code/randomSeed.4.3.txt

code/randomSeed4.1.txt

code/randomSeed4.2.txt

code/randomSeed4.4.txt
